In [1]:
# Импорт библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')
print('✅ Библиотеки загружены')

✅ Библиотеки загружены

In [2]:
# Загрузка данных Titanic
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print(f'✅ Данные загружены: {df.shape[0]} строк, {df.shape[1]} столбцов')
print('Первые 5 строк:')
df.head()

✅ Данные загружены: 891 строк, 12 столбцов
Первые 5 строк:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Анализ пропусков
1. Больше всего пропусков в колонках: `Cabin` (77.10%) и `Age` (19.87%)

### Анализ выживаемости  
1. Самый высокий шанс выжить: **женщины 1 класса** (96.81%)
2. Самый низкий шанс выжить: **мужчины 3 класса** (13.54%)

### Анализ графиков
1-й и 3-й графики наиболее наглядно показывают разницу между группами.

In [3]:
# Анализ пропусков
missing_info = pd.DataFrame({
    'Пропуски': df.isnull().sum(),
    'Доля, %': (df.isnull().sum() / len(df) * 100).round(2)
})
missing_data = missing_info[missing_info['Пропуски'] > 0]
missing_data

          Пропуски  Доля, %
Age            177    19.87
Cabin          687    77.10
Embarked         2     0.22

In [4]:
# Создаем копию датафрейма для экспериментов
df_engineered = df.copy()

# 1. Общий размер семьи
df_engineered['FamilySize'] = df_engineered['SibSp'] + df_engineered['Parch'] + 1

# 2. Одинокий пассажир
df_engineered['IsAlone'] = (df_engineered['FamilySize'] == 1).astype(int)

# Посмотрим на выживаемость в новых группах
print('Выживаемость в зависимости от размера семьи:')
print(df_engineered.groupby('FamilySize')['Survived'].mean().round(3))

print('\nВыживаемость одиноких пассажиров:')
print(df_engineered.groupby('IsAlone')['Survived'].mean().round(3))

Выживаемость в зависимости от размера семьи:
FamilySize
1     0.304
2     0.553
3     0.578
4     0.724
5     0.200
6     0.136
7     0.333
8     0.000
11    0.000
Name: Survived, dtype: float64

Выживаемость одиноких пассажиров:
IsAlone
0    0.506
1    0.304
Name: Survived, dtype: float64

In [5]:
# Сохраняем датасет с новыми признаками
df_engineered.to_csv('data/titanic_processed.csv', index=False)
print('✅ Обработанные данные сохранены в data/titanic_processed.csv')

OSError: Cannot save file into a non-existent directory: 'data'